# Применяем к любым C#-файлам
*.cs text eol=lf encoding=utf-8

# Можно прописать аналогично для Markdown, YAML, JSON и т.д.:
*.yml text eol=lf encoding=utf-8
*.yaml text eol=lf encoding=utf-8
*.json text eol=lf encoding=utf-8
*.md text eol=lf encoding=utf-8